* {
    font-weight: lighter;
    box-sizing: border-box;
}

body{
    font-family: 'Oxygen', sans-serif;
}

.nav-link{
    text-align: center;
    color: black;
    border:2px solid #000; 
    border-radius: 0;
    background-color: #fff;
    
}

.navbar-nav{
    position: relative;
    margin-top: 5px;
}

.container-fluid{
    padding: 0px;
    background-color:gray;  
}

.custom-bg{
    background-color: gray;
}

#header-nav{
    border:2px solid #000; 
    border-radius: 0;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand{
    padding-left: 10px;
}

.navbar-toggler{
    margin: 10px;
}

h3{
    text-align: center;
    margin-top: 40px;
}

h4{
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    color: #000;
}

p{
    color: #000;
    
}

section{
    margin-top: 40px;
    background-color: gray;
}

@media (min-width: 768px) {
    .nav-link{
      display: none;
    }
    button{
        display: none;
    }
}


